<h1>Witaj {{ user.firstname }} {{ user.name }}!</h1>

<p>
    Zapomniałeś/aś hasła do panelu DymCode. Wygenerowane zostało nowe hasło:
</p>
<p>
    {{ password }}
</p>
<p>Po <a href="https://panel.dymcode.eu">zalogowaniu</a> prosimy o zmianę hasła.</p>
<p>
	<a href="https://dymcode.eu">DymCode.eu</a>
</p>