<h1>Witaj {{ user.firstname }} {{ user.name }}!</h1>

<p>
    Dziękujemy za rejestrację w panelu firmy DymCode. 
    Aktywuj konto poprzez podany link poniżej.
</p>
<p>
    <a href="#{{ user.email }}">Kliknij, aby aktywować konto.</a>
</p>
<p>
	<a href="https://dymcode.eu">DymCode.eu</a>
</p>