<h1>Witaj {{ user }}!</h1>

<p>
    Zapomniałeś/aś hasła do konta w oprogramowaniu PojSoft. Wygenerowane zostało nowe hasło:
</p>
<p>
    {{ password }}
</p>
<p>Po zalogowaniu do konta w oprogramowaniu PojSoft prosimy o zmianę hasła.</p>
<p>
    <span class="text-muted">Oprogramowanie <a href="https://www.pojsoft.pl">PojSoft</a> firmy <a href="https://www.DymCode.eu">DymCode</a>.</span>
</p>